.statistics-container {
  height: 100%;
  padding: 1rem;

  mat-spinner {
    margin: auto;
  }

  mat-card {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  mat-card h1{
    color: var(--primary);
  }

  mat-form-field {
    max-width: 300px;
  }
}
