<div fxLayout="column" class="base-table-container">
  <!-- Loader -->
  <ng-container *ngIf="cmsService.loading | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-container>

  <!-- Table -->
  <div class="base-table-wrapper">
    <table
      fxFlex
      mat-table
      [dataSource]="tableDataSource"
      matSort
      (matSortChange)="sort($event)"
      #table
      multiTemplateDataRows
    >
      <!-- Define columns -->
      <ng-container matColumnDef="expandIcon">
        <th class="expand-column" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="rowHasDetails(row)">
            <mat-icon>
              {{ isExpanded(row) ? "chevron_left" : "chevron_right" }}
            </mat-icon>
          </ng-container>
        </td>
      </ng-container>
      <ng-container
        *ngFor="let column of cmsConfig.columns"
        [matColumnDef]="column.key"
      >
        <ng-container *ngIf="column.isSortable; else notSortable">
          <th
            mat-header-cell
            *matHeaderCellDef
            [mat-sort-header]="column.sortKey || column.key"
            arrowPosition="after"
          >
            {{ column.name | translate }}
          </th>
        </ng-container>
        <ng-template #notSortable>
          <th mat-header-cell *matHeaderCellDef>
            {{ column.name | translate }}
          </th>
        </ng-template>

        <!-- Table Data -->
        <td mat-cell *matCellDef="let element">
          <div
            (click)="toggleExpand(element)"
            [ngStyle]="column.clickable ? { cursor: 'pointer' } : {}"
            [ngClass]="element.cssClass || column.cssClass || ''"
          >
            <ng-container [ngSwitch]="column.type">
              <!-- get value from i18n json file -->
              <ng-container *ngSwitchCase="cellType.i18n">
                {{ element | PropertyKey : column.key | translate }}
              </ng-container>

              <!-- render as mat-icon -->
              <ng-container *ngSwitchCase="cellType.matIcon">
                <mat-icon [className]="column.cssClass">{{
                  element | PropertyKey : column.key
                }}</mat-icon>
              </ng-container>

              <!-- render special cases -->
              <ng-container *ngSwitchCase="cellType.special">
                <!-- display image -->
                <ng-container *ngIf="column.special == specialLabels.Image">
                  <img [src]="element | PropertyKey : column.key" />
                </ng-container>
              </ng-container>

              <!-- actions column -->

              <ng-container *ngSwitchCase="cellType.actions">
                <!-- display single action -->
                <ng-container *ngIf="(cmsConfig.actions || []).length == 1">
                  <ng-container *ngIf="cmsConfig.actions![0] as action">
                    <ng-container *ngIf="action.visible?.(element) != false">
                      <ng-container *ngIf="!action.icon">
                        <!-- action button -->
                        <button
                          mat-button
                          [color]="action.color"
                          (click)="$event.stopPropagation();emitRowAction(action.action, element)"
                        >
                          {{ action.label | translate }}
                        </button>
                      </ng-container>

                      <ng-container *ngIf="action.icon">
                        <!-- action icon -->
                        <button
                          mat-icon-button
                          [color]="action.color"
                          [matTooltip]="action.label | translate"
                          (click)="$event.stopPropagation();emitRowAction(action.action, element)"
                        >
                          <mat-icon>{{ action.icon }}</mat-icon>
                        </button>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>

                <!-- display actions list -->
                <ng-container *ngIf="(cmsConfig.actions || []).length > 1">
                  <button
                    mat-icon-button
                    class="primary"
                    (click)="$event.stopPropagation()"
                    [matMenuTriggerFor]="actionsMenu"
                  >
                    <mat-icon>expand_more</mat-icon>
                  </button>

                  <!-- actions menu -->
                  <mat-menu #actionsMenu="matMenu">
                    <div
                      class="actions"
                      fxLayout="column"
                      fxLayoutAlign="center center"
                    >
                      <ng-container *ngFor="let action of cmsConfig.actions">
                        <div
                          style="width: 100%"
                          *ngIf="action.visible?.(element) != false"
                        >
                          <button
                            mat-button
                            [color]="action.color"
                            style="width: 100%"
                            (click)="$event.stopPropagation();emitRowAction(action.action, element)"
                          >
                            {{ action.label | translate }}
                          </button>
                        </div>
                      </ng-container>
                    </div>
                  </mat-menu>
                </ng-container>
              </ng-container>
              <!-- display default object value -->
              <ng-container *ngSwitchDefault>
                {{ element | PropertyKey : column.key }}
              </ng-container>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <!-- Collapsable child rows -->

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let row"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="element-detail"
            [@detailExpand]="isExpanded(row) ? 'expanded' : 'collapsed'"
          >
            <ng-container *ngIf="row.children && row.children.length">
              <table
                fxFlex
                mat-table
                [dataSource]="row.children"
                matSort
                (matSortChange)="sort($event)"
                multiTemplateDataRows
              >
                <!-- Empty Expand Icon Column -->
                <ng-container matColumnDef="expandIcon">
                  <th
                    class="expand-column"
                    mat-header-cell
                    *matHeaderCellDef
                  ></th>

                  <td class="expand-column" mat-cell *matCellDef="let element">
                    <!-- Empty Cell for Alignment -->
                  </td>
                </ng-container>
                <ng-container
                  *ngFor="let column of cmsConfig.columns"
                  [matColumnDef]="column.key"
                >
                  <!-- Conditional header rendering -->
                  <ng-container *ngIf="isTopLevel(row)">
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  </ng-container>

                  <td mat-cell *matCellDef="let element">
                    <div
                      (click)="toggleExpand(element)"
                      [ngStyle]="column.clickable ? { cursor: 'pointer' } : {}"
                      [ngClass]="element.cssClass || column.cssClass || ''"
                    >
                      <ng-container [ngSwitch]="column.type">
                        <!-- get value from i18n json file -->
                        <ng-container *ngSwitchCase="cellType.i18n">
                          {{ element | PropertyKey : column.key | translate }}
                        </ng-container>

                        <!-- render as mat-icon -->
                        <ng-container *ngSwitchCase="cellType.matIcon">
                          <mat-icon [className]="column.cssClass">{{
                            element | PropertyKey : column.key
                          }}</mat-icon>
                        </ng-container>

                        <!-- render special cases -->
                        <ng-container *ngSwitchCase="cellType.special">
                          <!-- display image -->
                          <ng-container
                            *ngIf="column.special == specialLabels.Image"
                          >
                            <img [src]="element | PropertyKey : column.key" />
                          </ng-container>
                        </ng-container>

                        <!-- actions column -->
                        <ng-container *ngSwitchCase="cellType.actions">
                          <!-- display single action -->
                          <ng-container
                            *ngIf="(cmsConfig.actions || []).length == 1"
                          >
                            <ng-container
                              *ngIf="cmsConfig.actions![0] as action"
                            >
                              <ng-container
                                *ngIf="action.visible?.(element) != false"
                              >
                                <ng-container *ngIf="!action.icon">
                                  <!-- action button -->
                                  <button
                                    mat-button
                                    [color]="action.color"
                                    (click)="
                                      $event.stopPropagation();emitRowAction(action.action, element)
                                    "
                                  >
                                    {{ action.label | translate }}
                                  </button>
                                </ng-container>

                                <ng-container *ngIf="action.icon">
                                  <!-- action icon -->
                                  <button
                                    mat-icon-button
                                    [color]="action.color"
                                    [matTooltip]="action.label | translate"
                                    (click)="
                                      $event.stopPropagation();emitRowAction(action.action, element)
                                    "
                                  >
                                    <mat-icon>{{ action.icon }}</mat-icon>
                                  </button>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>

                          <!-- display actions list -->
                          <ng-container
                            *ngIf="(cmsConfig.actions || []).length > 1"
                          >
                            <button
                              mat-icon-button
                              class="primary"
                              (click)="$event.stopPropagation()"
                              [matMenuTriggerFor]="actionsMenu"
                            >
                              <mat-icon>expand_more</mat-icon>
                            </button>

                            <!-- actions menu -->
                            <mat-menu #actionsMenu="matMenu">
                              <div
                                class="actions"
                                fxLayout="column"
                                fxLayoutAlign="center center"
                              >
                                <ng-container
                                  *ngFor="let action of cmsConfig.actions"
                                >
                                  <div
                                    style="width: 100%"
                                    *ngIf="action.visible?.(element) != false"
                                  >
                                    <button
                                      mat-button
                                      [color]="action.color"
                                      style="width: 100%"
                                      (click)="
                                        $event.stopPropagation();emitRowAction(action.action, element)
                                      "
                                    >
                                      {{ action.label | translate }}
                                    </button>
                                  </div>
                                </ng-container>
                              </div>
                            </mat-menu>
                          </ng-container>
                        </ng-container>

                        <!-- display default object value -->
                        <ng-container *ngSwitchDefault>
                          {{ element | PropertyKey : column.key }}
                        </ng-container>
                      </ng-container>
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-row
                  *matRowDef="let nestedRow; columns: displayedColumns"
                  class="child-row"
                ></tr>
              </table>
            </ng-container>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="element-row"
        [class.expanded-row]="isExpanded(row)"
        (click)="toggleExpand(row)"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="detail-row"
      ></tr>
    </table>
  </div>

  <!-- Pagination -->
  <ng-container *ngIf="!(cmsService.loading | async)">
    <mat-paginator
      *ngIf="cmsConfig.pagination != false"
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="perPage"
      showFirstLastButtons
      [length]="totalRows"
      [pageIndex]="page"
      (page)="onPageChanged($event)"
    >
    </mat-paginator>
  </ng-container>
</div>
