<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
<div class="change-password-container">
    <div class="change-password-div">
      <form fxLayout="column" fxLayoutGap="2rem" fxLayoutAlign="center center" [formGroup]="formGroup">
  
        <!-- Old Password Field -->
        <mat-form-field appearance="outline">
          <mat-label>{{ "old_password" | translate }}</mat-label>
          <input [type]="hideOldPassword ? 'password' : 'text'" autocomplete="off" formControlName="old_password" matInput tabindex="1" />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility(1)"
            [attr.aria-label]="'toggle password visibility'" [attr.aria-pressed]="!hideOldPassword">
            <mat-icon>{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.get('old_password')?.hasError('required')">
            {{ "old_password" | translate }} {{ "is_required" | translate }}
          </mat-error>
        </mat-form-field>
  
        <!-- New Password Field -->
        <mat-form-field appearance="outline">
          <mat-label>{{ "new_password" | translate }}</mat-label>
          <input [type]="hideNewPassword ? 'password' : 'text'" autocomplete="off" formControlName="new_password" matInput tabindex="2" />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility(2)"
            [attr.aria-label]="'toggle password visibility'" [attr.aria-pressed]="!hideNewPassword">
            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.get('new_password')?.hasError('required')">
            {{ "new_password" | translate }} {{ "is_required" | translate }}
          </mat-error>
          <mat-error *ngIf="!formGroup.get('new_password')?.hasError('required') && (formGroup.get('new_password')?.hasError('minlength') || formGroup.get('new_password')?.hasError('maxlength'))">
            {{ "new_password" | translate }} {{ "password-length" | translate }}
          </mat-error>
          <mat-error *ngIf="!formGroup.get('new_password')?.hasError('required') && 
          !(formGroup.get('new_password')?.hasError('minlength') || formGroup.get('new_password')?.hasError('maxlength')) &&
           formGroup.get('new_password')?.hasError('passwordPattern')">
            {{ "new_password" | translate }} {{ "pattern_error" | translate }}
          </mat-error>
        
        </mat-form-field>
  
        <!-- Confirm Password Field -->
        <mat-form-field appearance="outline">
          <mat-label>{{ "confirm_password" | translate }}</mat-label>
          <input [type]="hidePasswordConfirmatoin ? 'password' : 'text'" autocomplete="off"
            formControlName="confirm_password" matInput tabindex="3" />
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility(3)"
            [attr.aria-label]="'toggle password visibility'" [attr.aria-pressed]="!hidePasswordConfirmatoin">
            <mat-icon>{{ hidePasswordConfirmatoin ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.get('confirm_password')?.hasError('required')">
            {{ "confirm_password" | translate }} {{ "is_required" | translate }}
          </mat-error>
          <mat-error *ngIf="!formGroup.get('confirm_password')?.hasError('required') && formGroup.get('confirm_password')?.hasError('passwordMismatch')">
           {{ "mismatch_error" | translate }}
          </mat-error>
        </mat-form-field>
  
        <!-- Submit Button -->
        <button class="btn-height" mat-stroked-button color="primary" [disabled]="formGroup.invalid || loading" (click)="submit()">
          {{ "submit" | translate }}
        </button>
      </form>
    </div>
  </div>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
 
</mat-dialog-actions>
  